<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Yapılacaklar Listesi</title> <!-- Site başlığı  -->
</head>
<body>
<div style = "margin-top: 100px;"  class="container">
<h3>Yapılacaklar Listesi</h3> <!-- Başlık -->
<hr>

<form action = "/add" method = "post">
    <div class = "form-group">
        <label for = "formGroupExampleInput">Yeni Yapılacaklar</label><br> <!-- Yeni bir TODO ekleneceği zaman kutucuğun yanında oluşturulan başlık.  -->
        <input type = "text" class = "from-control" name = "title" id = "formGroupExampleInput" placeholder="Yapılacak yeni bir görev giriniz">
        <button type = "submit" class = "btn btn-danger">Ekle</button> <!-- Yeni TODO eklemek için oluşturulan butonun başlığı. -->
    </div>

</form>
</div>

{% if todos == [] %}
<div class = "alert alert-warning" role = "alert">
    Yapılacak herhangi bir görev bulunmuyor <!-- Database'de herhangi bir todo bulunmuyorsa yazdırılır.  -->
</div>

{% else %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th> <!-- TODO görevlerinin database'deki numaraları  -->
        <th scope="col">Yapılacaklar listesi</th> <!-- Yapılacaklar listesinin başlığı  -->
        <th scope="col">Durum</th> <!-- TODO görevinin durumunun başlığı  -->
        <th scope="col">Durum güncelle</th> <!-- TODO görevlerinin durumunu güncellenmesi için oluşturulan başlık  -->
        <th scope="col">Sil</th> <!-- TODO silinmesi için oluşturulan butonun başlığı  -->
      </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
      <tr>
        <th scope="row">{{todo.id}}</th>
        <td>{{todo.title}}</td>
        {% if todo.isCompleted == False %} <!-- todo tamamlanmamışsa 'tamamlanmadı yazdırır'.  -->
        <td>Tamamlanmadı</td> 
        {% else %} <!-- todo tamamlanmışsa 'tamamlandı yazdırır'.  -->
        <td>Tamamlandı</td>
        {% endif %}
        <td><a href = "/isCompleted/{{todo.id}}" class = "btn btn-danger">Tamamla</a>
        <td><a href = "/delete/{{todo.id}}" class = "btn btn-danger">Sil</a>
      </tr>
      <tr>
        {% endfor %}
    </tbody>
  </table>
  {% endif %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>